$background: #fff;
$headerHeight: 15em;
$headerWidth: 23em;

body {
  background: $background;
  color: #444;
  font-family: sans-serif;
  line-height: 1.4;
  @media (max-width: 480px) {
    font-size: 87.5%
  }
}

ol,
ul {
  list-style: none;
  padding-left: 0.1em;
}

dt {
  float: left;
  color: hsla(0,0,0%,.3);
}

dd {
  margin-left: 5em;
  margin-bottom: 0.5em;
}

.MessageSummary {
  margin-bottom: 2em;
}

.Header {
  @media (max-width: 640px) {
    width: 100%;
    height: $headerHeight;
  }
  @media (min-width: 640px) {
    width: $headerWidth;
    height: 100%;
  }
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding: .5em 1em 0;
  box-sizing: border-box;
  border-bottom: 1px solid hsla(0,0,0%,.03);
  background: #fbfbfb;
}

.SearchBox {
  width: 100%;
  font-size: 112.5%;
}

.SearchResults {
  @media (max-width: 640px) {
    margin-top: $headerHeight + 1.5em;
  }
  @media (min-width: 640px) {
    margin-left: $headerWidth + .5em;
  }
}

.Avatar {
  height: 5em;
  width: 5em;
}

.u-center {
  text-align: center;
}

.u-desktop {
  @media (min-width: 800px) {
    display: block;
  }
  @media (max-width: 800px) {
    display: none;
  }
}

.u-mobile {
  @media (min-width: 800px) {
    display: none;
  }
  @media (max-width: 800px) {
    display: block;
  }
}
