$background: #fff;
$headerHeight: 15em;

body {
  background: $background;
  color: #444;
  font-family: sans-serif;
  line-height: 1.4;
  @media (max-width: 480px) {
    font-size: 87.5%
  }
}

ol,
ul {
  list-style: none;
  padding-left: 0.1em;
}

dt {
  float: left;
  color: hsla(0,0,0%,.3);
}

dd {
  margin-left: 5em;
  margin-bottom: 0.5em;
}

.MessageSummary {
  margin-bottom: 2em;
}

.Header {
  position: fixed;
  background: #fff;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  height: $headerHeight;
  padding: .5em 1em 0;
  box-sizing: border-box;
  border-bottom: 1px solid hsla(0,0,0%,.03);
}

.SearchBox {
  width: 100%;
  font-size: 112.5%;
}

.SearchResults {
  margin-top: $headerHeight + 1.5em;
}

.Avatar {
  height: 5em;
  width: 5em;
}

.u-center {
  text-align: center;
}

